@import '../../../styles/variables.scss';

@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');

.productHeader {
  background-color: #000;

  .headerCarousel {
    width: 220rem;
    height: 27rem;
    overflow: hidden;

    .slidesWrapper {
      margin: auto;
      position: relative;
      left: 13%;
      transition: 1s ease-in-out all;

      .slideItem {
        width: 55rem;
        height: 27rem;
        padding-right: 2.7rem;
        position: relative;
        float: left;
        color: $bgWhite;
        background-color: orange;

        &:nth-child(2n) {
          background-color: blue;
        }

        .slideTextBox {
          height: 22rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          text-align: right;

          .slideName {
            margin-bottom: 1rem;
            font-family: 'MaruBuriSemiBold';
            font-size: 2rem;
          }

          .slideContent {
            font-size: 1.125rem;

            &:last-child {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }

  .slideButtonsWrapper {
    max-width: 100%;
    padding: 0 9.25rem;
    margin-bottom: 2.5rem;
    display: flex;
    background-color: #000000;

    .slideButton {
      float: left;
      width: 25%;
      color: $textGray;
      font-size: 1.25rem;
      text-align: center;
      padding: 1.5rem 0;
      background-color: #000000;
      border: none;
      cursor: pointer;
    }

    .actived {
      float: left;
      width: 25%;
      color: $bgWhite;
      font-size: 1.25rem;
      font-weight: $fontBold;
      text-align: center;
      padding: 1.5rem 0;
      background-color: #000000;
      border: none;
      cursor: pointer;
    }
  }
}

.productContentsWrapper {
  @include flexSpaceBetween;

  max-width: 70rem;
  margin: auto;

  .productCategoryOption {
    float: left;
    font-size: 1.25rem;

    span {
      margin-bottom: 2rem;
      display: block;
      font-weight: 600;
    }

    ul {
      li {
        margin: 0 0 2rem 1.5rem;
      }
    }
  }

  .contentWrapper {
    width: 55rem;

    .tabs {
      @include flexSpaceBetween;
      margin-bottom: 2rem;
      padding-bottom: 1.25rem;
      font-size: 1.25rem;
      font-weight: 500;
      border-bottom: $border;

      ul {
        padding-right: 1.5rem;
        li {
          float: left;
          margin-left: 2rem;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .productNumberText {
      display: block;
      margin-bottom: 3rem;
    }

    .productList {
      position: relative;

      .product {
        position: relative;
        float: left;
        padding-bottom: 3.75rem;
        padding-right: 1.3%;
        padding-left: 1.3%;
        width: 25%;
        border-right: $border;

        &:nth-child(4n) {
          margin-right: 0;
          border-right: none;
        }

        .productImageBox {
          height: 14.375rem;
          display: flex;
          text-align: center;

          .productImage {
            height: 14rem;
            overflow: hidden;
          }

          span {
            position: absolute;
            top: 0;
            padding: 0.5rem 0.75rem;
            color: $bgWhite;
            font-size: 0.875rem;
            background-color: $textBlack;
          }
        }

        .productTextBox {
          height: 7.25rem;
          margin-top: 1.5rem;
          font-size: 1.25rem;

          p {
            margin-bottom: 0.25rem;

            &:first-child {
              height: 48px;
              font-family: 'Buri', serif;
            }

            &:last-child {
              font-weight: $fontBold;
            }
          }
        }
      }
    }
  }
}
