@import '../../styles/variables.scss';

.cart {
  position: relative;
  padding: 0 3.75rem;

  .cartPageTitle {
    padding: 3rem 0 1.875rem 0;
    color: $textBlack;
    font-size: 1.75rem;
    font-weight: $fontBold;
  }

  form {
    display: flex;
    justify-content: flex-start;

    .orderedItem {
      border-top: $border;
    }

    .buttonWrapper {
      @include flexCenter;
      justify-content: center;
      height: 6.25rem;
    }
  }
}
