@import '../../styles/variables.scss';

.nav {
  @include flexCenter;
  position: fixed;
  max-width: 100%;
  padding: 0 13rem;
  width: 100%;
  height: 5rem;
  background-color: $border;
  background: linear-gradient(to top, transparent, #a8a8a8);
  z-index: 100;

  .navInnerBox {
    @include flexSpaceBetween;
    width: 100%;
    align-items: center;

    .leftBox {
      @include flexCenter;
    }

    .rightBox {
      display: flex;
      color: $bgWhite;

      .navUtility {
        @include flexSpaceBetween;
        align-items: center;
        position: relative;

        .item {
          width: 35px;
          padding-right: 10px;
          margin-left: 15px;
        }
        .itemMore {
          margin-left: 20px;
          &:hover .dropBox1 {
            display: block;
          }

          .dropBox1 {
            position: absolute;
            margin-top: 10px;
            padding: 10px;
            color: black;
            background: white;
            border-radius: 3px;
            font-size: 15px;
            display: none;

            .dropItems {
              width: 100px;
              top: 40px;
              padding-bottom: 10px;
            }
          }
        }
      }
      .navDrop {
        margin-top: 25px;
        display: flex;
        .item {
          width: 70px;
          margin-bottom: 21px;
          .loginTitle {
            color: $bgWhite;
          }
        }
        .dropItems {
          .loginTitle2 {
            width: 300px;
            margin-bottom: 20px;
            color: $bgWhite;
          }
        }
        .item {
          .logOut {
            background-color: transparent;
            border-style: hidden;
            color: white;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
      .lang {
        display: flex;
        align-items: center;
        margin-left: 50px;
        .itemArr {
        }
      }
    }
  }

  .whiteLogoImg {
    width: 6.5rem;
  }
}
