@import '../../styles/variables.scss';

.navList {
  @include flexCenter;
  width: 35rem;
  padding-left: 40px;
}

.navItems {
  width: 25rem;
  padding: 0 0 0 6rem;
  color: white;

  .navTitle {
    position: relative;
    display: flex;
    align-items: flex-start;
    color: $bgWhite;
  }

  .dropDownMenu {
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    background: $textBlack;

    .dropNavListWarp {
      .dropNavList {
        padding-right: 1rem;
      }
    }
  }
}
