@import '../../styles/variables.scss';
.navSubList {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 5rem;
  text-align: center;
  .subItems {
    position: relative;
    width: 50rem;
    left: 7rem;
    top: 5.7rem;
    .wesullocNav {
      .navList {
        .navItems {
          display: flex;
          align-items: center;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
