@import '../../../../../styles/variables.scss';

.reviewModal {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.7);
  overflow-y: scroll;
  padding: 4.37rem 0 4.37rem 0;

  .container {
    width: 32.06rem;
    padding: 1.87rem 1.81rem 1.87rem 1.81rem;
    background-color: white;
    margin: 0 auto 0 auto;
    position: relative;

    .closeBtn {
      position: absolute;
      font-size: 1.5rem;
      right: 1.87rem;
      top: 1.87rem;
      cursor: pointer;
    }

    .title {
      font-size: 1.75rem;
    }
    .imageTitle {
      margin-top: 1.87rem;
      p {
        margin-bottom: 1.25rem;
        font-size: 1.75rem;
        text-align: center;
      }
      .imgBox {
        width: 18.87rem;
        height: 15.62rem;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .starScoreArea {
      margin-top: 1.87rem;
      text-align: center;
      font-size: 2rem;
    }
    .scoreWriting {
      margin-top: 0.93rem;
      font-size: 1.37rem;
      text-align: center;
      color: $primaryColor;
    }
    .textArea {
      width: 100%;
      height: 100px;
      padding: 0.87rem;
      margin-top: 0.93rem;
      margin-bottom: 0.93rem;
      resize: none;
    }
    .postBtn {
      width: 100%;
      padding: 0.62rem 0;
      background-color: $primaryColor;
      border-radius: 0.18rem;
      color: white;
      font-weight: 600;
      font-size: 1.06rem;
    }
  }
}
