@import '../../../../../styles/variables.scss';
.reviews {
  .reviewContainer {
    padding-top: 90px;
    .reviewHeader {
      border-bottom: 1px solid #dbd9d9;
      text-align: center;
      .headerTitle {
        font-size: 2.5rem;
      }
      .headerDescription {
        margin: 1.25rem 0 5rem 0;
        font-size: 1.12rem;
        color: #9e9e9e;
      }
      .scoreAverage {
        width: 71.75rem;
        margin-bottom: 2.81rem;
        padding-bottom: 1.5rem;
        margin: auto;
        .scoreAverageFlex {
          display: flex;
          justify-content: space-between;
          .flexLeft {
            width: 50%;
            text-align: start;
            .flexLeftTitle {
              font-size: 2rem;
            }
            .flexLefSubTitle {
              margin-top: 0.81rem;
              font-size: 1.37rem;
              span {
                color: #fd5c5c;
              }
            }
          }
          .flexRight {
            width: 50%;
            text-align: end;
            .flexRightTitle {
              padding: 0.31rem 0;
              font-size: 1.25rem;
            }
            .flexRightScore {
              font-size: 1.87rem;
              margin-right: 0.625rem;
            }
            .flexRightNum {
              font-size: 3.12rem;
            }
          }
        }
      }
    }
    .reviewBar {
      padding-bottom: 1.25rem;
      margin-top: 3.75rem;
      margin-bottom: 3.12rem;
      border-bottom: 1px solid #ececec;
      font-size: 1.25rem;
      .reviewBarFlex {
        display: flex;
        justify-content: center;
      }
      .reviewAll {
        margin: 0 3.75rem;
        padding-top: 1.25rem;
      }
      .reviewPhoto {
        margin: 0 3.75rem;
        padding-top: 1.25rem;
      }
    }
    .reviewBox {
      width: 71.688rem;
      margin: auto;
      padding-top: 1.12rem;
      margin-bottom: 5rem; // 임의로 작성
      border-bottom: 1px solid $textGray;
    }
  }
}
