@import '../../../../../styles/variables.scss';

.review {
  .eachReview {
    display: flex;
    justify-content: space-between;
    padding: 1.87rem 0 1.25rem 1.25rem;
    border-bottom: 1px #eaeaea solid;
    .eachReviewLeftRight {
      display: flex;

      .eachReviewLeft {
        .date {
          color: #b0b0b0;
        }

        .setScore {
          margin-top: 0.93rem;
          margin-left: -0.62rem;
        }
      }

      .eachReviewRight {
        padding-left: 2.5rem;
        padding-right: 4.37rem;

        .buyer {
          margin-right: 0.31rem;
          color: $primaryColor;
          font-size: 1.06rem;
        }
        .nickname {
          color: $textGray;
          font-size: 0.87rem;
        }
        .comment {
          color: #7e7e7e;
          margin-top: 0.93rem;
        }
      }
    }
  }
}
